 
.App {
    text-align: center;
    padding: 20px;
  }
  
  #a1 {
    font-size: 2em;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .intro {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .intro img {
    width: 700px;
    height: auto;
    margin-left: 20px;
  }
  
  .intro p {
    max-width: 600px;
    margin: 0;
    text-align: left;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
  }
  
  .product-card {
    background-color: #f5f5f5;
    border-radius: 0px;
    padding: 0px;
    max-width: 250px; 
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    
    
  }
  
  .product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 5px 0;
    color: #555;
  }
  
  .product-card p:last-child {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
  }
   

   
