

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 0;
    flex-wrap: wrap; 
  }
  
  .container h4 {
    margin: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: center; 
  }
  
  .container h4:hover {
    color: #000;
  }
  
  .container h4:nth-child(even) {
    color: #999;
  }
  
  .container h4:nth-last-child(1) {
    color: #B22222;
  }
  
  
  @media (max-width: 768px) {
    .container h4 {
      font-size: 12px; 
      margin: 0 10px; 
    }
  }
  
  @media (max-width: 480px) {
    .container h4 {
      font-size: 10px; 
      margin: 0 5px; 
    }
  }
  