.container {
    margin: 0 auto;
    padding: 40px;
    width: 90%;
    color: #333;
  }
  
  .card {
    border: none;
    outline: none;
    margin: 0 10px;
    position: relative;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .card-body {
    text-align: center;
    padding: 10px 0;
  }
  
  .card-body h2 {
    font-size: 16px;
    margin: 10px 0 5px 0;
  }
  
  .card-body p {
    font-size: 14px;
    color: #888;
  }
  