
.product-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  gap: 20px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  padding: 20px;
}

.image-section img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details-section {
  flex: 1;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
}

.details-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Georgia', serif;
}

.description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.size-options {
  margin-bottom: 50px;
}

.size-options h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.size-options .size-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.size-options button {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
}

.size-options button.selected,
.size-options button:hover {
  background-color: #ffcc00;
  color: #fff;
}

.add-to-cart-button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #007b5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: #00cc99;
}

.chakra-modal__header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.chakra-modal__body {
  font-size: 1rem;
  color: #666;
}

.chakra-modal__footer button {
  background-color: #007b5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
}

.chakra-modal__footer button:hover {
  background-color: #00cc99;
}